.contenido_principal ul li{
  list-style:none !important;
  padding: 7px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 11px;
  cursor: pointer;
}
.nav_principal .navbar-brand{
  text-align: center;
  margin-right: 0px !important;
  word-break: break-all;
  word-wrap: break-word;
  color: white;
}
.nav_preguntas .navbar-brand{
  text-align: center;
  color: white;
  border-radius: 10px;
}
.nav_preguntas{
  display: flex;
  align-items: center;
  justify-content: center;
}
#tematica_t, .pregunta1, .pregunta2{
  background-color: #dd1d44;
}
#tematica_e, .pregunta3, .pregunta4{
  background-color: #4cc0ef;
}
#tematica_s, .pregunta5, .pregunta6{
  background-color: #f69021;
}
#tematica_a, .pregunta7, .pregunta8, .pregunta9{
  background-color: #73c570;
}
#p_transversales h5{
  color: #dd1d44;
  text-align: justify;
}
#p_economicas h5{
  text-align: justify;
  color: #4cc0ef;
}
#p_sociales h5{
  text-align: justify;
  color: #f69021;
}
#p_ambientales h5{
  text-align: justify;
  color: #73c570;
}
.resalto{
  border-radius: 20px;
  transform: scale(1.1);
  z-index: 10;
}
.cont-radar{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.email-d{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  padding: 24px;
}
.diagmail{
  margin-top: 30px;
}
#wpcf7-f7-o5 .wpcf7-text{
  border: solid;
}
#wpcf7-f7-o5 .wpcf7-textarea{
  border: solid;
  height: 110px;
}
#wpcf7-f7-o5 .mensaje{
  width: 100%;
}

#wpcf7-f7-o5 .wpcf7-submit{
  margin-top: 13px;
}

@media (max-width: 980px){

  .espacio{
    margin-top: 1px;
  }

}

@media (min-width: 981px){
  .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .espacio{
    width: 20px;
  }
  .radar {
    padding-bottom: 45px;
    padding-top: 45px;
  }

}
.radar, .explica{
  border: solid;
  border-radius: 25px;
}
.explica b {
  color: black;
}

#wpcf7-f7-o5 .wpcf7-response-output {
  background-color: #73c570 !important;
}
